:root {
    --Lila: #E0DFEF;
    --Yellow: #ebefe0;
    --Pink: #E49EA8;
    --Purple: 104, 85, 224;
    --header-height: 10vh;
    --surface-color: #fff;
    --curve: 40;
}

/* ----------- General ----------- */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.material-icons {
    cursor: default;

    color: var(--Pink);
}

html {
    font-family: 'Comfortaa', cursive;
    font-size: 62.5%;

    box-sizing: inherit;

    /* 1rem = 10px */
}

body {
    font-size: 1.8rem;

    display: flex;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;

    max-width: 100vw;
    min-height: 100vh;

    background: var(--Yellow);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--header-height);

    background: var(--Lila);
}

header::before {
    position: absolute;
    z-index: 99;
    top: calc(var( --header-height) - 1vh);
    left: 0;

    width: 100vw;
    height: 1rem;

    content: '';

    background: linear-gradient(to top, var( --Yellow) , transparent);
}

main {
    width: 90%;
    padding: 4rem;
}

/* ----------- Navigation ----------- */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    height: 7rem;
    padding: 1rem 1rem;

    color: #3d4852;
}

.logo {
    justify-content: flex-start;
}

.account-section {
    justify-content: flex-end;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

a,
a:link {
    white-space: nowrap;
    text-decoration: none;

    color: inherit;
}

ul > li {
    padding: 0;
}

nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav > ul > li {
    padding: 0 1.5rem;
}

nav > ul > li > a {
    position: relative;

    display: inline-block;
}

.dropdown {
    position: relative;
}

.dropdown:after {
    position: absolute;
    top: 60%;

    content: "";
    transform: translateY(-50%) translateX( .5rem);

    border: 0.35rem solid transparent;
    border-top-color: rgba(0, 0, 0, 0.45);
}

.dropdown:hover:after,
.dropdown:focus-within:after {
    transition: all 0.4s ease;
    transform: scaleY(-1) translateY( 100%) translateX( .5rem);
}

.dropdown-content {
    font-size: 1.8rem;

    position: absolute;
    z-index: 9999;
    left: -1rem;

    display: block;

    max-width: 14.7rem;
    margin: 1rem;
    padding-top: .5rem;

    transition: 280ms all 100ms ease-out;
    transform: rotateX(-90deg);
    transform-origin: top center;

    opacity: 0.3;
    color: #999999;
    background-color: white;
    box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
}

.dropdown:hover > .dropdown-content,
.dropdown:focus-within > .dropdown-content {
    visibility: visible;

    transform: rotateX(0);

    opacity: 1;
}

.dropdown-content > li > a {
    display: inline-flex;
    align-items: center;

    width: 100%;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
}

nav > ul > li > a:hover:after,
nav > ul > li > a:focus-within:after,
nav > ul > li > a:hover:before,
nav > ul > li > a:focus-within:before,
.active:before,
.active:after {
    transform: translateY(0);

    opacity: 1;
}

.dropdown-content > li > a:hover,
.dropdown-content > li > a:focus-within {
    color: white;
    background-color: black;
}

nav > ul > li > a::after {
    position: absolute;
    bottom: -.05rem;
    left: 0;

    width: 100%;
    height: .1rem;

    content: '';
    transition: all 0.25s ease-out;
    transform: translateY(1rem);

    opacity: 0;
    background-color: #3d4852;
}

nav > ul > li > a::before {
    position: absolute;
    top: -.05rem;
    left: 0;

    width: 100%;
    height: .15rem;

    content: '';
    transition: all 0.25s ease-out;
    transform: translateY(-1rem);

    opacity: 0;
    background-color: #3d4852;
}

.dropdown-content > .active {
    color: var(--Lila);
}

/* ----------- Buttons ----------- */

.btn {
    font-weight: 600;

    width: 15rem;
    margin: 1rem;
    padding: 1rem;

    cursor: pointer;
    transition: 0.4s;
    text-align: center;

    border-radius: .4rem;
    box-shadow: 0 0 0.2rem rgba(var( --Purple) , 0.2);
}

.filter-btn {
    font-size: 1.4rem;

    width: 6rem;
    margin: .5rem .2rem;
    padding: .5rem;

    text-align: center;

    border-radius: 1rem;
}

.btn-welcome {
    width: 20rem;
}

.btn:hover {
    color: white;
    background-color: rgba(var( --Purple) , 1);
    box-shadow: 0 0 2rem rgba(var( --Purple) , 0.6);
}

.btn-primary {
    color: var(--Purple);
    border: .1rem solid rgba(var( --Purple) , 1);
    background-color: rgba(255, 255, 255, 1);
}

.btn-secondary {
    color: white;
    border: 0;
    background-color: rgba(var( --Purple) , 1);
}

/* ----------- Searching Cards ----------- */

.cards {
    display: grid;

    margin: 4rem 5vw;
    margin-bottom: 7rem;
    padding: 0;

    list-style-type: none;

    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 2rem;
}

.card {
    position: relative;

    display: block;
    overflow: hidden;

    height: 100%;

    text-decoration: none;

    border-radius: calc(var( --curve) * .1rem);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;

    transition: .2s ease-in-out;
    transform: translateY(100%);

    border-radius: calc(var( --curve) * .1rem);
    background-color: var(--surface-color);
}

.card-header {
    position: relative;

    display: flex;
    align-items: center;

    padding: 2em;

    transition: .2s ease-in-out;
    transform: translateY(-100%);

    border-radius: calc(var( --curve) * .1rem) 0 0 0;
    background-color: var(--surface-color);

    gap: 2em;
}

.card-arc {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 100%;

    width: 8rem;
    height: 8rem;
}

.card-arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card-header {
    transform: translateY(0);
}

.card-thumb,
.avatar {
    flex-shrink: 0;

    width: 5rem;
    height: 5rem;

    border-radius: 50%;

    object-fit: cover;
}

.card-title {
    font-size: 1.4rem;

    margin: 0 0 .3em;

    color: #6A515E;
}

.card-tagline {
    font-family: "MockFlowFont";
    font-size: 1.4rem;

    display: block;

    margin: 0;
    margin-bottom: .5rem;

    color: #D7BDCA;
}

.card-status {
    font-size: 1.2rem;

    color: var(--Pink);
}

.card-description {
    font-size: 1.3rem;

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;

    margin: 0;
    padding: 0 2em 2em;

    color: var(--Pink);

    -webkit-line-clamp: 3;
}

.card:hover .card-overlay {
    transform: translateY(0);
}

/* ----------- Filters ----------- */

.filters {
    font-size: 1.5rem;

    float: left;

    width: 20%;
    margin: 0;
    margin-right: 10rem;
    padding: 2rem;

    border-radius: 5%;
    background: whitesmoke;
}

h6 {
    font-size: 1.5rem;
}

.filters form {
    display: inline-block;

    width: 100%;
    padding-bottom: 2.5rem;
}

.filters label {
    position: relative;

    display: inline-block;

    width: 100%;
    padding-top: 1rem;

    text-decoration: none;

    color: darkgray;
}

.filters label:hover {
    text-decoration: none;

    color: var(--Pink);
}

.border-bottom {
    font-size: 2.5rem;

    padding-bottom: 1rem;
}

.border-bottom:after {
    display: block;

    width: 70%;

    content: ' ';

    border: .1rem solid #d0d0d0;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem;
    -webkit-box-shadow: inset 0 .1rem .1rem rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 .1rem .1rem rgba(0, 0, 0, .05);
    box-shadow: inset 0 .1rem .1rem rgba(0, 0, 0, .05);
}

/* ----------- Welcome ----------- */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-align: center;
}

.context {
    font-family: 'Exo', sans-serif;
    font-size: 5rem;

    position: absolute;
    top: 40vh;

    width: 100%;

    text-align: center;

    color: #fff;
}

.area {
    z-index: 0;

    width: 100%;
    height: 100vh;
}

.color-scheme-1 {
    background: #c8c64e;
    background: -webkit-linear-gradient(to left, #fbf68f, #c8c64e);
}

.color-scheme-2 {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.color-scheme-3 {
    background: #c84e73;
    background: -webkit-linear-gradient(to left, #fb8fa1, #c84e73);
}

.circles {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
}

.circles li {
    position: absolute;
    bottom: -15rem;

    display: block;

    width: 2rem;
    height: 2rem;

    list-style: none;

    animation: animate 25s linear infinite;

    background: rgba(255, 255, 255, 0.2);
}

.circles li:nth-child(1) {
    left: 25%;

    width: 8rem;
    height: 8rem;

    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;

    width: 2rem;
    height: 2rem;

    animation-duration: 12s;
    animation-delay: 2s;
}

.circles li:nth-child(3) {
    left: 70%;

    width: 2rem;
    height: 2rem;

    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;

    width: 6rem;
    height: 6rem;

    animation-duration: 18s;
    animation-delay: 0s;
}

.circles li:nth-child(5) {
    left: 65%;

    width: 2rem;
    height: 2rem;

    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;

    width: 11rem;
    height: 11rem;

    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;

    width: 15rem;
    height: 15rem;

    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;

    width: 2.5rem;
    height: 2.5rem;

    animation-duration: 45s;
    animation-delay: 15s;
}

.circles li:nth-child(9) {
    left: 20%;

    width: 1.5rem;
    height: 1.5rem;

    animation-duration: 35s;
    animation-delay: 2s;
}

.circles li:nth-child(10) {
    left: 85%;

    width: 15rem;
    height: 15rem;

    animation-duration: 11s;
    animation-delay: 0s;
}

@keyframes animate {

0% {
    transform: translateY(0) rotate( 0deg);

    opacity: 1;
    border-radius: 0;
}

100% {
    transform: translateY(-1000px) rotate( 720deg);

    opacity: 0;
    border-radius: 50%;
}

}

/* ----------- Detail pages ----------- */

.house,
.animal {
    display: grid;

    padding: 4rem;

    grid-template-columns: 50% 50%;
}

.slides {
    display: flex;
    align-items: center;

    max-width: 100%;
    max-height: 100%;

    grid-area: slider;
}

.house-image,
.animal-image {
    width: 90%;
}

#featured {
    width: 100%;

    border: 2px solid black;

    object-fit: cover;
}

.thumbnail {
    max-width: 10%;
    max-height: 10%;
    margin: 5px;

    cursor: pointer;

    opacity: 50%;
    border: 2px solid black;

    object-fit: cover;
}

.thumbnail:first-child {
    margin-left: 0;
}

.thumbnail-active,
.thumbnail:hover {
    opacity: 1;
}

.slider {
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    flex-wrap: nowrap;

    width: 90%;

    white-space: nowrap;
}

.filter-container {
    display: flex;
}
